.drone-contact-form {
  input:focus,
  textarea:focus {
    outline: #ff7920 !important;
  }
  .elementor-form-fields-wrapper {
    margin-bottom: 0 !important;
  }
  .elementor-message-danger {
    display: block;
    text-align: center;
    margin: 0;
    color: #fff;
  }
}
@media (max-width: 767px) {
  .drone-contact-form {
    .elementor-message-danger {
      font-size: 13rem;
      font-weight: 500rem;
    }
  }
}
