<head>
  <link rel="stylesheet" href="common.css">
  <style>
    .md_faq {
      font-size: 20rem;
      font-weight: 500;
      font-family: 'Helvetica', sans-serif;
      line-height: 23rem;
      color: #162c5b;
    }
  </style>
</head>

<body>
  <ul class="md_faq">
    <li>What is mechanical design?</li>
  </ul>
</body>